@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@model IEnumerable<PhotoCritic.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Recent Photos</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Filter by Category: @Html.DropDownList("categorySelection", "All")
        <input type="submit" value="Filter" />
    </p>
}
    </p>

<br/>
@{ int i = 0; }
<div class="row">
    
        @foreach(var item in Model)
        {
            if (i > 0 && i % 2 == 0)
            {
                @:</div><div class="row">
            }
            <div class="col-lg-6">
                @Html.Action("CheckIfVoted", "OpinionatedIndividuals", new { id = item.Id })
                <h3>@Html.DisplayFor(modelItem => item.ImageName) </h3>
                <img src="@Url.Content(item.ImagePath)" width="300" /> <br />
                @{
                    if (TempData["vote"] == null)
                    {
                            <a href="@Url.Action("LikeCreate", "OpinionatedIndividualPhotos", new { id = item.Id })" class="btn btn-default"> <img src="~/ProjectImages/Like.png" alt="Like" height="50" /> </a>
                            <a href="@Url.Action("DislikeCreate", "OpinionatedIndividualPhotos", new { id = item.Id })" class="btn btn-default"> <img src="~/ProjectImages/Dislike.png" alt="Dislike" height="50" /> </a>
                    }

                    if (TempData["vote"] != null)
                    {
                            <h4>Thanks for your feedback!</h4>
                    }
                }
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            i++;
        }
    
</div>