@model IEnumerable<PhotoCritic.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Recent Photos</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Filter by Category: @Html.DropDownList("categorySelection", "All")
        <input type="submit" value="Filter" />
    </p>
}
    </p>

    <table class="table">

        @foreach (var item in Model)
        {
            @Html.Action("CheckIfVoted", "OpinionatedIndividuals", new { id = item.Id })
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" width="250" />
                </td>
                @{
                    if (TempData["vote"] == null)
                    {
                        <td>
                            <a href="@Url.Action("LikeCreate", "OpinionatedIndividualPhotos", new { id = item.Id })" class="btn btn-default"> <img src="~/ProjectImages/Like.png" alt="Like" height="50" /> </a>
                        </td>
                        <td>
                            <a href="@Url.Action("DislikeCreate", "OpinionatedIndividualPhotos", new { id = item.Id })" class="btn btn-default"> <img src="~/ProjectImages/Dislike.png" alt="Dislike" height="50" /> </a>
                        </td>
                    }

                    if (TempData["vote"] != null)
                    {
                        <td>
                            Thanks for your feedback!
                        </td>
                        <td></td>
                    }
                }

            </tr>
        }

    </table>
