@model IEnumerable<PhotoCritic.Models.Photo>

@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Photo One</h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>






<div>
<p>
    @using (Html.BeginForm())
    {
    <p>
        Compare by: @Html.DropDownList("compareChoice")
        <input type="submit" value="Compare" />
    </p>
}
    </p>

<div>
    <div class="row" style="width: 50%; float:left">
        <img src="@Url.Content(ViewBag.PhotoOneImage)" height="300" />
    </div>

    <div class="row" style="width: 50%; float:right">
        <img src="@Url.Content(ViewBag.PhotoTwoImage)" height="300" />
    </div>


    @{
        if (ViewBag.choice == "Age")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetAgeChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetAgeChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetAgeChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetAgeChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Sex")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetSexChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetSexChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetSexChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetSexChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Race")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetRaceChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetRaceChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetRaceChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetRaceChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Location")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetLocationChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetLocationChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetLocationChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetLocationChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Education")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetEducationChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetEducationChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetEducationChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetEducationChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Profession")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetProfessionChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetProfessionChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetProfessionChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetProfessionChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Marital Status")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetMaritalStatusChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetMaritalStatusChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetMaritalStatusChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetMaritalStatusChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }

        if (ViewBag.choice == "Income Level")
        {
            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetIncomeLevelChartDataLike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetIncomelevelChartDataLike", new { id = ViewBag.photoTwoId})" />
            </div>



            <div class="row" style="width: 50%; float:left">
                <img src="@Url.Action("GetIncomeLevelChartDataDislike", new { id = ViewBag.photoOneId})" />
            </div>

            <div class="row" style="width: 50%; float:right">
                <img src="@Url.Action("GetIncomeLevelChartDataDislike", new { id = ViewBag.photoTwoId})" />
            </div>
        }
    }
</div>
</div>