@model PhotoCritic.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" height="250"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hidden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hidden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentsEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDislikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDislikes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
