@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@model PhotoCritic.Models.Photo

@{
    ViewBag.Title = "Dislikes";
}

<h2>Demographic breakdown</h2> <h4>of those who disliked this photo</h4>


@*<div class="row">
        <div class="col-md-6">
            <p>
                <img src="@Url.Content(Model.ImagePath)" height="300" />
            </p>
        </div>
        <div class="col-md-6">
            <p> <a href="@Url.Action("DislikesCommentsReasons", "Photos", new { id = Model.Id })" class="btn btn-info btn-block btn-lg">Feedback</a> </p>
        </div>
    </div>*@
<br />
<div class="row">
    <a href="@Url.Action("DislikesCommentsReasons", "Photos", new { id = Model.Id })" class="btn btn-default btn-block btn-lg">View Feedback</a>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetAgeChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetSexChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetRaceChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetLocationChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetEducationChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetProfessionChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetMaritalStatusChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetIncomeLevelChartDataDislike", new { id = Model.Id})" />
        </p>
    </div>
</div>
