@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@model IEnumerable<PhotoCritic.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>My Photos</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Filter by Category: @Html.DropDownList("categorySelectionForMe", "All")
        <input type="submit" value="Filter" />
    </p>
}
    </p>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Details
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.ImageName)</h4> <br /> <br />
                    <a href="@Url.Action("Edit", "Photos", new { id = item.Id })" class="btn btn-info">Edit</a> <br /> <br/>
                    <a href="@Url.Action("Delete", "Photos", new { id = item.Id })" class="btn btn-danger">Delete</a> <br />
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" width="200" align ="middle"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    Comments?
                    @Html.DisplayFor(modelItem => item.CommentsEnabled) <br />
                    Hidden?
                    @Html.DisplayFor(modelItem => item.Hidden) <br />
                    Compare?
                    @Html.DisplayFor(modelItem => item.Compare)
                </td>
                <td>
                    <a href="@Url.Action("Filtered", "Photos", new { id = item.Id })" class="btn btn-default btn-lg btn-block">@Html.DisplayFor(modelItem => item.TotalInteractions) <br /> Filter Interactions </a> <br />
                    <div class="btn-block">
                        <a href="@Url.Action("Likes", "Photos", new { id = item.Id })" class="btn btn-default">@Html.DisplayFor(modelItem => item.TotalLikes) <br /> <img src="~/ProjectImages/Like.png" alt="Likes" height="30" /> </a>
                        <a href="@Url.Action("Dislikes", "Photos", new { id = item.Id })" class="btn btn-default">@Html.DisplayFor(modelItem => item.TotalDislikes) <br /> <img src="~/ProjectImages/Dislike.png" alt="Dislikes" height="30" /> </a>
                    </div>
                </td>
            </tr>
        }

    </table>