@model IEnumerable<PhotoCritic.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>My Photos</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Filter by Category: @Html.DropDownList("categorySelectionForMe", "All")
        <input type="submit" value="Filter" />
    </p>
}
    </p>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Details
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName) <br /> <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) <br />
                    @*@Html.ActionLink("Filter", "Filtered", new { id = item.Id })*@
                </td>
                <td>
                    <img src="@Url.Content(item.ImagePath)" width="200" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    Comments?
                    @Html.DisplayFor(modelItem => item.CommentsEnabled) <br />
                    Hidden?
                    @Html.DisplayFor(modelItem => item.Hidden) <br />
                    Compare?
                    @Html.DisplayFor(modelItem => item.Compare)
                </td>
                <td>
                    <a href="@Url.Action("Filtered", "Photos", new { id = item.Id })" class="btn btn-default">@Html.DisplayFor(modelItem => item.TotalInteractions) <br /> Filter Interactions </a> <br />
                    <a href="@Url.Action("Likes", "Photos", new { id = item.Id })" class="btn btn-default">@Html.DisplayFor(modelItem => item.TotalLikes) <br /> <img src="~/ProjectImages/Like.png" alt="Likes" height="30" /> </a>
                    <a href="@Url.Action("Dislikes", "Photos", new { id = item.Id })" class="btn btn-default">@Html.DisplayFor(modelItem => item.TotalDislikes) <br /> <img src="~/ProjectImages/Dislike.png" alt="Dislikes" height="30" /> </a>
                </td>
            </tr>
        }

    </table>