@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@model PhotoCritic.Models.Photo

@{
    ViewBag.Title = "Likes";
}

<h2>Demographic breakdown</h2> <h4>of those who liked this photo:</h4>

<div class="row">
    <div class="col-md-6">
        <p>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Content(Model.ImagePath)" width="300" />
        </p>
    </div>
</div>

<br/>

<div class="row">
    <a href="@Url.Action("LikesCommentsReasons", "Photos", new { id = Model.Id })" class="btn btn-default btn-block btn-lg">View Feedback</a>
</div>

<br/>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetAgeChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetSexChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetRaceChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetLocationChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetEducationChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetProfessionChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetMaritalStatusChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
    <div class="col-md-6">
        <p>
            <img src="@Url.Action("GetIncomeLevelChartDataLike", new { id = Model.Id})" />
        </p>
    </div>
</div>