@model PhotoCritic.Models.Photo

@{
    ViewBag.Title = "Likes";
}

<h2>Likes</h2>

    <p>
        @Html.ActionLink("Feedback", "LikesCommentsReasons", new { id = Model.Id })
    </p>

    <div class="row" style="width: 50%; float:left">
        <img src="@Url.Action("GetAgeChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:right">
        <img src="@Url.Action("GetSexChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:left">
        <img src="@Url.Action("GetRaceChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:right">
        <img src="@Url.Action("GetLocationChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:left">
        <img src="@Url.Action("GetEducationChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:right">
        <img src="@Url.Action("GetProfessionChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:left">
        <img src="@Url.Action("GetMaritalStatusChartDataLike", new { id = Model.Id})" />
    </div>

    <div class="row" style="width: 50%; float:right">
        <img src="@Url.Action("GetIncomeLevelChartDataLike", new { id = Model.Id})" />
    </div>

    @*<div class="row">
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetAgeChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetSexChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetRaceChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetLocationChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetEducationChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetProfessionChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetMaritalStatusChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="@Url.Action("GetIncomeLevelChartDataLike", new { id = Model.Id})" />
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    @Html.ActionLink("Feedback", "LikesCommentsReasons", new { id = Model.Id })
                </p>
            </div>
        </div>*@